<div class="header">
    <div class="nav">
        <a href="/">
            <img class="home-icon" src="../../static/AI-slop_homepage.png" alt="Homepage Icon">
        </a>
        <a href="/">Home</a>
        <a href="/s">Search</a>
    </div>

    <div class="user-options">
        {% if user.is_authenticated %}
        {{ user.get_full_name|default:user.username }}
        <a href="/logout">Sign out</a>
        {% else %}
        <a href="/login">Sign in</a>
        {% endif %}
    </div>
</div>