html,body{
    background-color:#0f1a33;
    color: #e2e8f0;

    margin:0;
    padding:0;
    height:100%;
}

.root-container {
    display:flex;
    max-width:1000px;
    margin:0 auto;
    gap:2rem;
}
.left-side {
    position:sticky;
    top:0;
    height:100vh;
    width:40%;

    font-size:1.5rem;
}
.right-side {
    width:60%;
    padding-top:3rem;

}

.content::-webkit-scrollbar{
    display:none;
}
.nav-bar {
    color:#64748b;
}
.nav-bar ul{
    list-style-type:none;
}
a {
    text-decoration: none;
    color:#64748b;
}
a:hover {
    text-decoration:underline;
    color:#e2e8f0;
}
.masthead {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
img {
    max-width: 200px;
}
.info {
    padding-bottom:30px;
}
.card-section {
    padding-bottom:30px;
}
.card {
    display:flex;
}

.job-title {
    font-size:1.25rem;
}